section {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.363);
  text-decoration: none;
}
button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #ff6978;
  z-index: 8;
  transition: 0.3s;
  border: solid aliceblue 2px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 2px;
  margin-right: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  color: aliceblue;
  background-color: #ff6978;
  border: solid #ff6978 2px;
}

input {
  padding: 8px 30px;
  margin-left: 2px;
  margin-right: 2px;
  border: solid aliceblue 2px;
  border-radius: 40px;
  outline: none;
}

input:focus {
  background-color: #ff6978;
  color: aliceblue;
}

input::placeholder {
  text-transform: uppercase;
  font-weight: 600;
}

input:focus::placeholder {
  color: aliceblue;
}

p {
  color: aliceblue;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.363);
  text-align: center;
}

.produto {
  margin-bottom: 10px;
}
