<section>
  <div class="nav-comp">
    <div class="nav-left">
      <a [routerLink]="['/calculadora']" routerLinkActive="active"
        >Calculadora</a
      >
      <a [routerLink]="['/evandref']" routerLinkActive="active">Formula 1</a>
      <a [routerLink]="['/compras']" routerLinkActive="active">Compras</a>
    </div>

    <div class="nav-mid">
      <a [routerLink]="['/home']" routerLinkActive="active"
        ><img src="../../../assets/images/ls-logo.png" alt="ls-logo"
      /></a>
    </div>

    <div class="nav-right">
      <a [routerLink]="['/chuck']" routerLinkActive="active">Piadas</a>
      <a [routerLink]="['/anime']" routerLinkActive="active">Anime</a>
      <a [routerLink]="['/p-color']" routerLinkActive="active">Color</a>
    </div>
  </div>
</section>
