<body>
  <section>
    <img src="../../../assets/images/stars.png" id="star" #star />
    <img src="../../../assets/images/moon.png" id="moon" #moon />
    <img
      src="../../../assets/images/mountains_behind.png"
      id="mountains_behind"
      #mountains_behind
    />
    <h2 class="welcome" id="text">WELCOME</h2>
    <a href="#sec" id="btn">Explore</a>
    <img
      src="../../../assets/images/mountains_front.png"
      id="mountain_front"
      #mountain_front
    />
  </section>

  <div class="sec" id="sec">
    <h2>Who am I?</h2>
    <div id="about">
      <div id="left">
        <p>
          Tudo começou numa bela tarde de Março de 2000 numa bela cidade do Rio
          de Janeiro chamada Cabo-Frio, pássaros cantavam as ondas batiam na
          areia da praia, o vento soprava grãos de areia nos olhos das pessoas
          que estavam na praia e eu nascia.
        </p>

        <p>
          Fast foward, já não estou no Brasil, estou em Portugal a tirar um
          curso de Desenvolvimento Web e sem saber o que realmente fazer da
          vida, mas really, quem sabe?
        </p>
        <br />

        <h3>As minhas especialidades?</h3>
        <br />

        <p>
          Hora bem, as minhas especialidade, gosto de pensar que sei alguma
          coisa de programação (sou formado nisso por isso deveria saber alguma
          coisa) principalmente C# senão o Professor Moisés dá-me na cabeça;
        </p>

        <p>
          Como estou a tirar este curso devo preceber também um bocado de HTML e
          CSS mas como este site não é nem um pouco responsivo tenho serias
          dúvidas
        </p>

        <p>
          Fora a programação e Desenvolvimento Web sou aspirante a fotógrafo,
          quer dizer, pego na minha câmera e ando por aí a tirar fotos de cenas
          aleatórias e dos meus amigos e depois meto tudo no PC e uso a magia da
          edição para tornar as fotos um bocado mais aceitaveis, isto sim é
          publicidade ao trabalho right?
        </p>

        <p>
          BTW, follow me on Instagram
          <a href="https://www.instagram.com/_olucas1/" target="_blank"
            >@_olucas1</a
          >
        </p>
      </div>

      <div id="right">
        <img src="../../../assets/images/pic.jpg" alt="profile picture" />
      </div>
    </div>
  </div>
</body>
