<section>
  <div id="cars">
    <h1>Meet the grid</h1>
    <img id="imagem" src="../../../assets/images/mclaren.png" #paddock />
  </div>

  <div id="buttons">
    <button id="mclaren" #mclaren (click)="f1(paddock, mclaren)">
      McLaren
    </button>

    <button id="redbull" #redbull (click)="f1(paddock, redbull)">
      Redbull
    </button>

    <button id="ferrari" #ferrari (click)="f1(paddock, ferrari)">
      Ferrari
    </button>

    <button id="merc" #merc (click)="f1(paddock, merc)">Mercedes</button>

    <button id="aston" #aston (click)="f1(paddock, aston)">Aston</button>

    <button id="alpha" #alpha (click)="f1(paddock, alpha)">Alfa</button>

    <button id="alpine" #alpine (click)="f1(paddock, alpine)">Alpine</button>

    <button id="tauri" #tauri (click)="f1(paddock, tauri)">Alpha Tauri</button>

    <button id="haas" #haas (click)="f1(paddock, haas)">Haas</button>

    <button id="williams" #williams (click)="f1(paddock, williams)">
      Williams
    </button>
  </div>
</section>
