<section>
  <div class="page">
    <div class="butoes">
      <button
        id="carlin"
        [routerLink]="['/p-color', '../../../../assets/images/carlin.png']"
      >
        carlin
      </button>
      <button
        id="virtuosi"
        [routerLink]="['/p-color', '../../../assets/images/virtuosi.png']"
      >
        virtuosi
      </button>
      <button
        id="prema"
        [routerLink]="['/p-color', '../../../assets/images/prema.png']"
      >
        prema
      </button>
    </div>
    <router-outlet></router-outlet>
  </div>
</section>
